<style>
table, th, td {
  border: 1px solid black;
}
</style>

{% if all_reagents %}
<table>
	<tr>
		<th>PID</th>
		<th>reag_name</th>
		<th>catalog</th>
		<th>type</th>
		<th>size</th>
		<th>sn</td>
		<th>log</th>
		<th>vol</th>
		<th>mfg_date</th>
		<th>exp_date</th>
		<th>vol_cur</th>
		<th>sequence</th>
		<th>edit_date</th>
		<th>reserved</th>
	</tr>
	{% for r in all_reagents %}
	<tr>
		<td>{{r.id}}</td>
		<td>{{r.reag_name}}</td>
		<td>{{r.catalog}}</td>
		<td>{{r.type}}</td>
		<td>{{r.size}}</td>
		<td>{{r.sn}}</td>
		<td>{{r.log}}</td>
		<td>{{r.vol}}</td>
		<td>{{r.mfg_date}}</td>
		<td>{{r.exp_date}}</td>
		<td>{{r.vol_cur}}</td>
		<td>{{r.sequence}}</td>
		<td>{{r.edit_date}}</td>
		<td>{{r.reserved}}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
	<p>No reagents found!</p>
{% endif %}
